node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/functions/lib
/.firebase
/.firebase-config
/.tools
/firebase-debug.log
/firestore-debug.log
/ui-debug.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results
/playwright-report
/emulator-data

# IDE
/.idea
/.vscode
